
.App{
  display: flex;
 
}
.app-container{
  display: flex;
  flex-direction: column;
  background-color: #282836;
  border-radius: 3%;
  padding: 15px;
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -150px;
    
}

.app-label{
  display: flex;
  justify-content: space-between;
}
.app-label img{
  width: 40px;
  height: 40px;
  object-fit:fill;
}
.label-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  font-family: "Roboto";
}
.app-label button{
  background-color: #4caf50;
  border: none;
  border-radius: 5%;
  color:#FFFFFF;
  font-family: "Roboto" sans-serif;
  cursor:pointer;
}

