
body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  height: 100vh;
}

.left-side{
  display: flex;
  flex-direction: column;
}
.main{
  display: flex;
  justify-content: space-between;
}
.big-text{
  display: flex;
}
.icons{
  display: flex;
  flex-direction: column;
}
.text-container{
  display: flex;
  flex-direction: column;
}

.hand {
  transform: translateX(-25px);
}

.wallet-icon {
  transform: translateX(-5px);
}

.wallet-icon-text {
  margin-left: 25px;
}

.chess-figure-icon-text {
  margin-left: 40px;
}

.hand-icon-text {
  margin: 0;
  transform: translateX(-17px);
}

.repeat-icon-text {
  margin-left: 40px;
}

.text{
  display: flex;
  font-size: 64px;
  font-weight:bolder;
  font-family: "Open-Sans-ExtraBold";
  align-items: center;
}
.description p{
  font-size: 18px;
  font-family: "Open-Sans-Mixed";
  margin-top: 35px;
}

.hand{
  width: 101px !important;
  height: 97px !important;
}

.app-button {
  width: 441px;
  cursor: pointer;
  height: 112px;
  background-color: #9C7FE8;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 75px;
  border: none;
}


@media (max-width: 768px) {
  .container{
    padding: 0;
    width: 90%;
  }
  .app-button{
    width: 373px;
  }
}