@font-face {
    font-family: "Roboto";
    src: url(./assets/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Josefin";
    src: url(./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}